<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
  <div class="row">
  <div class="col-md-12"> 
  <table class="control_time_table">
      <tr>
	 <th>Checkpoint</th>
	<th align="center"> Miles </th>
	<th align="center"> Km </th>
	<th align="center">Location</th>
	<th align="center">Open</th>
	<th align="center">Close</th>
	<th align="center">Notes</th>
      </tr>

<tr class="control">
	<td>1</td>
      <!-- Dist (mi) -->
      <td><input name="miles" type="number" 
           min="0" max="900" size="5" disabled value="0"/></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text"
	   min="0" max="1100" size="5" disabled value="0"/> </td>
      <!-- Location (optional) -->
      <td><input name="location" type="text" 
        placeholder="Optional location name"
	size="20" /> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" value="" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" value="" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td class="notes"> &nbsp; </td>
    </tr>
	  
    <tr class="control">
	    <td>2</td>
      <!-- Dist (mi) -->
      <td><input name="miles" type="number" 
           min="0" max="900" size="5" /></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text"
	   min="0" max="1100" size="5" /> </td>
      <!-- Location (optional) -->
      <td><input name="location" type="text" 
        placeholder="Optional location name"
	size="20" /> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" value="" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" value="" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td class="notes"> &nbsp; </td>
    </tr>
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
</form>

<script type="text/javascript">

  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";

  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.) 
  function calc_times(control) {
    var km = control.find("input[name='km']").val();
    var open_time_field = control.find("input[name='open']");
    var close_time_field = control.find("input[name='close']");
   if(control.prev() && parseInt(control.prev().find("input[name='km']").val()) > parseInt(km)) {
	control.find('.notes').html('The control points should be specified in ascending order.');
	return false;
   }
	else if(parseInt(km) > parseInt($('#brevet_dist_km').val()) * 1.20) {
		control.find('.notes').html('This control point (' + km + ' km) is over 20% longer than the theoretical distance (' + $('#brevet_dist_km').val() +' km).');	
	}
	  //brevet_dist_km
	  
	  
	$.getJSON(TIME_CALC_URL, { km: km,  brevet_distance: $('#brevet_dist_km').val(), begin_date: $('#begin_date').val(), begin_time: $('#begin_time').val()}, 
      // response handler
      function(data) {
         var times = data.result;
         console.log("Got a response: " +  times);
         console.log("Response.open = " + times.open);
	    console.log("Open Moment: " +  moment(times.open).format("ddd M/D H:mm"));
	    m = new Date(times.open)
	    var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
	    var dateStringOpen = days[m.getDay()] + " " +
  ("0" + (m.getUTCMonth()+1)).slice(-2) +"/"+
  ("0" + m.getUTCDate()).slice(-2) + " " +
  ("0" + m.getUTCHours()).slice(-2) + ":" +
  ("0" + m.getUTCMinutes()).slice(-2);
	    
	    m = new Date(times.close)
	   var dateStringClose = days[m.getDay()] + " " +
  ("0" + (m.getUTCMonth()+1)).slice(-2) +"/"+
  ("0" + m.getUTCDate()).slice(-2) + " " +
  ("0" + m.getUTCHours()).slice(-2) + ":" +
  ("0" + m.getUTCMinutes()).slice(-2);
	    
	    console.log("Open Date: " + dateStringOpen);
         open_time_field.val(dateStringOpen); //moment(times.open).format("ddd M/D H:mm"));
         close_time_field.val(dateStringClose);
       } // end of handler function
     );// End of getJSON
    }
$(function() {
	$('form').on('change', 'input[id^="begin"]', function() {
		$('.control_time_table tr.control').each(function() {
			if($(this).find("input[name='km']").val()) calc_times($(this));
		});	
	});
	$('.control_time_table').on('change', 'tr.control:last-child input', function() {
        	var isEmptyRow = 1;
		var index = parseInt($(this).parents('tr.control').find('td:first').html());

        	$('.control_time_table tr.control:last-child :input').each(function() {
	
         	 if($(this).val()) {
         	   isEmptyRow = 0;
        	    return false;
       		   }
        	});
        	if(isEmptyRow == 0) {
        	  var newRow = '<tr class="control"><td>' + (index + 1) + '</td><td><input name="miles" type="number" min="0" max="900" size="5" /></td><td><input name="km" type="text" min="0" max="1100" size="5" /> </td><td><input name="location" type="text" placeholder="Optional location name" size="20" /> </td><td><input name="open" type="datetime" value="" readonly /></td><td><input name="close" type="datetime" value="" readonly /></td><td class="notes"> &nbsp; </td></tr>';
        	  $('.control_time_table').append(newRow);
      		  }
      });
	  
      $('.control_time_table').on('change', 'input[name="miles"]',
         function() {
             var miles = parseFloat($(this).val());
             var km = (1.609344 * miles).toFixed(0) ;
             console.log("Converted " + miles + " miles to " + km + " kilometers");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='km']");
             target.val( km );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

      $('.control_time_table').on('change', 'input[name="km"]',
         function() {
             var km = parseFloat($(this).val());
             var miles = (0.621371 * km).toFixed(1) ;
             console.log("Converted " + km + " km to " + miles + " miles");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='miles']");
             target.val( miles );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
